bin/
obj/

*.user
*.vspscc
*.suo
*.userprefs

.idea/
*.sln.iml

.vscode/
.history/

logs/
*.log

feedback.db

# Migrations/

*.dbmdl
*.pdb

.env
appsettings.Development.json
appsettings.Local.json

.DS_Store
Thumbs.db 
.fake